@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>professor @ViewData["Aluno"]</p>
<p>@ViewData["Email"]</p>

<address>
    <strong>More information: <a href="http://educandoweb.com.br" target=" _blank">Educando Web</a></strong>
</address>
